

.logo{
    display: flex;
    justify-content: center;
    margin-top: 24px;
}
.head-category{
    display: flex;
    justify-content: center;
    margin-top: 24px;
    width: 100%;
    background-color: #1C2077;
}

.head-category>a{
    font-size: 20px;
    padding: 24px;
    color: #ffff;
    font-weight: bold;
}

.main-banner{
    width: 100%;
}
a{
    text-decoration: none;
}

.menu-signature-container{
    display: flex;
    justify-content: center;
}
.menu-name-box{
    width: 608px;
    background-color: #2CA6E0;
    
}
.signature-box{
    width: 608px;
    height: 100vh;
    padding-left: 24px;
}
.signature-box>h2{
    font-size: 32px;
    color: #2CA6E0;
    font-weight: bolder;
    padding-top: 48px;  
}
.signature-box>p{
    font-size: 20px;
    color: #2CA6E0;
    padding-top: 12px;
    font-weight: bold;
}
.menu-name-box{
    padding-left: 24px;
}
.menu-name-box>h2{
    font-size: 32px;
    color: #1C2077;
    font-weight: bolder;
    padding-top: 120px;
    padding-bottom: 60px;
}
.menu-list>a{
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    line-height: 90px;
}
.main-menu-round{
    width: 608px;
    padding-top: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-top: 48px;
}
.menu-round{
    width: 280px;
    height: 280px;
    border-radius: 50%;
    background-color: #232323;
    position: relative;
    
}
.menu-round>p{
    position: absolute;
    font-size: 18px;
    top: 105%;
    left: 41%;
    color: #2CA6E0;
}