


*{
    margin: 0;
    padding: 0;
}
header{
    overflow: hidden;
}
.header-container{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 38px 120px;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}
.header-text-container{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 16px;
}
.header-text{
    color: white;
    
}
li{
    list-style: none;

}
a{
    color: white;
    text-decoration: none;
    
}
.menu{
   width: 100px;
   height: 100px;
}
.menu>li{
    width: 24px;
    height: 2.5px;
    background-color: white;
    align-items: center;
    gap: 10px;
    position: relative;
    margin-left: 90px;
    
}
.menu-1{
    position: absolute;
    top: 0px;
}
   
.menu-2{
    position: absolute;
    top: 5px;
}
.menu-3{
    position: absolute;
    top: 10px;
}
.cover>video{
    width: 100%;
}
#round-container{
    width: 150px;
    position: relative;
    display: flex;
    justify-content: space-between;
    top: -720px;
    left: 64px;

}
.content-round{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: red;
    
}
.content-line{
    width: 64px;
    height: 2px;
    background-color: red;
    position: absolute;
    top: 10px;
    left: 24px;
}
.content-round2{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: red;
    position: relative;
}
.content-plus{
    width: 30px;
    height: 30px;
}
.round-plus1{
    width: 10px;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 10px;
    left: 7px;
}
.round-plus2{
    width: 10px;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 10px;
    left: 7px;
    transform: rotate(90deg);
}



.main-img1{
    width: 40%;
}
.main-img2{
    width: 30%;
}
.banner>img{
    width: 100%;
}

