


*{
    margin: 0;
    padding: 0;
}
.header-container{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 38px 112px;
    display: flex;
    justify-content: space-between;
    z-index: 10; 
}
.header-text-container{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 15px;   
    gap: 36px;
}
.header-text>a{
    color: white;
    
}
li{
    list-style: none;

}
a{
    text-decoration: none; 
}
p{
    word-break: keep-all;
}
.hamburger{
   width: 20px;
   height: 20px;
   position: relative;
}
.menu-1{
    width: 20px;
    height: 2.5px;
    background-color: white;
    position: absolute;
    top: 0px;
}
   
.menu-2{
    width: 20px;
    height: 2.5px;
    background-color: white;
    position: absolute;
    top: 7px;
}
.menu-3{
    width: 20px;
    height: 2.5px;
    background-color: white;
    position: absolute;
    top: 14px;
}
.cover>video{
    width: 100%;
}
#round-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    top: -720px;
    left: 64px;

}
.content-round{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    left: 56px;
    
}
.content-line{
    width: 56px;
    height: 2px;
    background-color: red;
    position: absolute;
    top: 10px;
    left: 64px;
}
.content-round2{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    position: relative;
    left: 120px;
}
.content-plus{
    width: 30px;
    height: 30px;
}
.round-plus1{
    width: 10px;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 9px;
    left: 5px;
}
.round-plus2{
    width: 10px;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 9px;
    left: 5px;
    transform: rotate(90deg);
}
.round-text{
    position: absolute;
    left: 146px;
}
.cover-text{
    position: absolute;
    top: 50px;
}

.main-img1{
    width: 40%;
}
.main-img2{
    width: 30%;
}
.banner>img{
    width: 100%;
}

